@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

/* Header Section */

#header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 23px 32px 23px 32px;
}

#header-name {
    position: absolute;
    width: 370px;
    height: 45px;
    left: 200px;
    top: 65px;

    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.download-btn {
    position: absolute;
    width: 304px;
    height: 77px;
    left: 1395px;
    top: 51px;

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    opacity: 0.8;
}

.download-btn-text {
    position: static;
    width: 240px;
    height: 32px;
    margin: 0px 13px;

    color: rgb(13, 19, 33);

    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* Hero Section */

#hero {
    background-image: url("../assets/images/Hero-bg.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 1903px;
    height: 870px;
    left: 0;
    right: 0;
    top: 175px;
    bottom: 5950px;
}

#hero .hero-content {
    position: absolute;
    width: 1330px;
    height: 776px;
    left: 295px;
    right: 295px;
    top: 34px;
    bottom: 59px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

#hero .hero-content img{
    width: 320px;
    height: 320px;
    top: 0%;
    bottom: 0%;
    margin-bottom: 43px;
}

.hero-title{
    color: rgb(13, 19, 33);
    font-size: 64px;
    font-weight: 1067;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.btn {
    position: static;
    width: 213px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 32px 28px 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 45px;
    border-radius: 12px;
    background: rgb(13, 19, 33);
    text-decoration: none;
}

.btn-text {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

/* Hub Section */

#hub {
    position: absolute;
    width: 1260px;
    height: 1600px;
    left: 197px;
    right: 203px;
    top: 1142px;
    bottom: 3391px;
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 107px 129px 107px 129px;

    border-radius: 21px;
    background: rgba(13, 19, 33, 0.02);
}

#hub-content {
    position: static;
    width: 1260px;
    height: 1600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 13px;
}

.hub-description {
    position: static;
    width: 852px;
    height: 52px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    margin-bottom: 32px;
    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.title {
    position: static;
    height: 69px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin-bottom: 32px;

    color: rgb(13, 19, 33);
    font-size: 38px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
}

.frame{
    /* Frame 8 */
    position: static;
    width: 1133px;
    height: 320px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 43px;

    border-radius: 21px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.frame-2 {
    /* Frame 8 */
    position: static;
    width: 1133px;
    height: 320px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 43px;

    border-radius: 21px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.frame-body {
    /* Frame 10 */
    position: static;
    width: 1133.33px;
    height: 320px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 43px;
}

.frame-body-2 {
    /* Frame 10 */
    position: static;
    width: 1133.33px;
    height: 320px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 43px;
}

.frame-contents {
    position: static;
    width: 636px;
    height: 293px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 13px;
}

.frame-items {
    position: static;
    width: 636px;
    height: 187px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 32px;
}

.frame-title {
    position: static;
    width: 520px;
    height: 96px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;

    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.frame-description {
    position: static;
    width: 624px;
    height: 69px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 16px;

    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.frame-btn {
    /* Frame 7 */
    position: static;
    width: 200px;
    height: 64px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 26px 16px 26px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 32px;

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.frame-btn-text {
    /* Learn More */
    position: static;
    width: 147px;
    height: 32px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 26x 16px 26px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 13px;

    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* Inspiration Section */

#inspiration {
    /* Frame 15 */
    position: absolute;
    width: 1520px;
    height: 1036px;
    left: 197px;
    right: 202px;
    top: 3120px;
    bottom: 2837px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.inspiration-description {
    position: static;
    width: 1136px;
    height: 69px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    margin-bottom: 16px;

    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

#frame-link {
    /* Frame 14 */
    position: static;
    width: 1520px;
    height: 818px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 64px;

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 21px;
}

#frame-link iframe {
    position: static;
    width: 1450px;
    height: 733px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 13px 0px;

    border-radius: 21px;
}

/* Support Section */

#support {
    /* Frame 8 */
    position: absolute;
    width: 1423px;
    height: 255px;
    left: 200px;
    right: 200px;
    top: 4250px;
    bottom: 238px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 48px 64px 48px;

    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("../assets/images/handshake.jpg");
    background-size: cover;
    background-position: center;
}

#support-content {
    /* Frame 6 */
    position: static;
    width: 1392px;
    height: 150px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#support-title {
    /* I need Support */
    position: static;
    width: 306px;
    height: 48px;
    margin-bottom: 16px;

    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

#support-description {
    position: static;
    width: 808px;
    height: 69px;

    opacity: 0.7;

    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

#support-footer {
    position: static;
    width: 1392px;
    height: 150px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#message {
    position: static;
    width: 730px;
    height: 76px;
    padding: 25px 26px 25px 26px;
    font-size: 18px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 10px;

    background: rgb(255, 255, 255);
}

#message_submit {
    /* Frame 8 */
    position: static;
    width: 160px;
    height: 77px;
    font-size: 22px;
    padding: 22px 26px 22px 26px;

    border-radius: 10px;
    background: rgb(255, 255, 255);
}

#support-btn-text {
    /* Submit */
    position: static;
    width: 106px;
    height: 32px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}